html, body {
  padding: 0;
  margin: 0;
  color: #595959;
  height: 100%;
  background: #fafafa;
  font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#app {
  min-height: 100%;
}

.main {
  padding-bottom: 50px;
  overflow: hidden;
}

.black {
  background: #333 !important;
  border-color: #787878 !important;
  color: #787878;
}

.grey {
  border-color: #787878 !important;
}

.container {
  max-width: 1056px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 16px auto 0 auto;
}

#footer {
  text-align: center;
  font-size: 14px;
  color: #8c8c8c;
  height: 50px;
  line-height: 50px;
  margin-top: -50px;
}

#footer a {
  color: #8c8c8c;
}

@media (max-width: 650px) {
  #footer span {
      display: none;
  }
}

.border {
  border: 1px solid #e8e8e8;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.split {
  border-bottom: 1px solid #e8e8e8;
}

.center {
  text-align: center;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #595959;
}

a:hover {
  color: #8c8c8c;
}

.more {
  float: right;
  margin-right: 10px;
}

.pagination {
  clear: both;
  list-style: none;
  height: 32px;
  padding-left: 15px;
}

.pagination li {
  float: left;
  display: none;
}

.pagination li.show {
  display: block;
}

.master {
  color: #42b983;
}

.pagination li a {
  display: inline-block;
  font-size: 14px;
  color: #42b983;
  border: 1px solid #e8e8e8;
  margin-right: 10px;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  border-radius: 3px;
  cursor: pointer;
}

.pagination li.active a {
  border: none;
  color: #595959;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.empty-10 {
  height: 10px;
}

.empty-20 {
  height: 20px;
}

.empty-30 {
  height: 30px;
}

@media (min-width: 650px) {
  .pagination li {
    display: block;
  }
}

.markdown {
  padding: 20px;
}

.markdown pre {
  overflow: scroll;
}

.markdown blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-color: #e5eaf1;
  border-left: 5px solid #eee;
}

.markdown p {
  color: #555;
  line-height: 2;
  font-size: 16px;
}

.markdown a {
  color: #337ab7;
  text-decoration: none;
}

.markdown li {
  line-height: 2;
}

.markdown pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.markdown code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.markdown img {
  max-width: 100%;
}

a.btn {
  display: inline-block;
  text-align: center;
  line-height: 33px;
  height: 33px;
  width: 70px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #25b864;
  border-color: #25b864;
}

a.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}

a.btn:hover {
  color: #fff;
  background-color: #14a753;
  border-color: #14a753;
}

a.btn-danger:hover {
  background-color: #c8423e;
  border-color: #c32e29;
}

.text-center {
  text-align: center;
}

.markdown .prettyprint {
  padding: 8px 8px 8px 0 !important;
}

.markdown ol.linenums {
  margin: 0 !important;
}
